/*
Estilos para los elementos body y html
*/
body, html {
    height: 100%; /* Establece la altura del cuerpo y del documento HTML al 100% de la altura de la ventana del navegador. */
    margin: 0; /* Elimina los márgenes predeterminados del cuerpo y del documento HTML. */
    font-family: Arial, sans-serif; /* Establece la fuente predeterminada para el cuerpo y el documento HTML a Arial, y usa cualquier fuente sans-serif si Arial no está disponible. */
}

/*Estilos para la clase container*/
.container {
    background-image: url('fondo.png'); /* Establece una imagen de fondo para el contenedor. */
    background-size: cover; /* Hace que la imagen de fondo cubra todo el contenedor, incluso si esto significa que la imagen tiene que ser recortada. */
    background-position: center; /* Centra la imagen de fondo en el contenedor. */
    height: 100%; /* Establece la altura del contenedor al 100% de la altura de su elemento padre. */
    display: flex; /* Aplica un diseño flexible al contenedor, lo que permite un control más fácil sobre cómo se alinean y distribuyen los elementos hijos. */
    flex-direction: column; /* Hace que los elementos hijos se apilen verticalmente. */
    align-items: center; /* Centra los elementos hijos horizontalmente en el contenedor. */
    justify-content: center; /* Centra los elementos hijos verticalmente en el contenedor. */
    position: relative; /* Establece la posición del contenedor a relativa, lo que significa que los elementos hijos posicionados absolutamente se posicionarán en relación con este contenedor. */
}

.logo {
    position: absolute; /* Posiciona el elemento de manera absoluta en relación con su elemento padre más cercano con posición relativa, fija o absoluta. */
    top: 20px; /* Coloca el elemento a 20px desde la parte superior del elemento padre. */
    right: 20px; /* Coloca el elemento a 20px desde el lado derecho del elemento padre. */
}

.logo img {
    height: 50px; /* Establece la altura de la imagen a 50px. */
    width: auto; /* Establece el ancho de la imagen a auto, lo que significa que se escalará proporcionalmente a la altura. */
}

.title h1 {
    color: white;
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-family: 'Arial', sans-serif; 
}

.description h3 {
    color: white;
    font-size: 1.5em;
    font-size: small;
    font-family: 'Arial', sans-serif;
}

.form-container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    font-family: 'Arial', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-top: 10px;
    font-size: 1.2em;
}

input {
    padding: 10px;
    margin-top: 5px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
